@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body
{
    font-family: 'Poppins', sans-serif;
}

.banner
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.VW
{
    width: 80%;
    margin: auto;
    min-height: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px;
}

.VW .Left
{
    width: 40%;
    height: 100%;
    margin: 5%;
    float: left;
    background-color: red;
}

.VW .Right
{
    width: 40%;
    height: 100%;
    margin: 5%;
    float: left;
    background-color: red;
}