@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body
{
    font-family: 'Poppins', sans-serif;
}

.menu
{
    width: 60%;
    height: 100px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

a
{
    color: black;
    text-decoration: none;
    margin: 1%;
    
}

a:hover
{
    color: blue;
    transition-duration: 0.3s;
}

.banner
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.VW
{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.VW .Left
{
    width: 40%;
    height: 100%;
    margin: 5%;
    float: left;
    justify-content: center;
}

.VW .Right
{
    width: 40%;
    height: 100%;
    margin: 5%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
}